{% extends 'base.html' %}
{% load static %}

{% block title %}
    
    <title>Elkarwan</title>

{% endblock title %}

{% block nav-home %}
    active
{% endblock nav-home %}

{% block content %}

<!-- Start Slider -->


<div class="Modern-Slider sliderr" id="sliderr">
    <!-- Item -->
    <div class="item" data-thumbnail="{% static 'images/tools/1.jpg' %}">
        <h3>شركة الكروان للتوريدات العمومية</h3>
        <div class="img-fill">
            <img class="first" src="{% static 'images/tools/1.jpg' %}" alt="">
        </div>
    </div>
    <!-- // Item -->

    <!-- Item -->
    <div class="item" data-thumbnail="{% static 'images/tools/2.jpg' %}">
        <div class="img-fill">
            <img src="{% static 'images/tools/2.jpg' %}" alt="">
        </div>
    </div>
    <!-- // Item -->

    <!-- Item -->
    <div class="item" data-thumbnail="{% static 'images/tools/3.jpg' %}">
        <div class="img-fill">
            <img src="{% static 'images/tools/3.jpg' %}" alt="">
        </div>
    </div>
    <!-- // Item -->

    <!-- Item -->
    <div class="item" data-thumbnail="{% static 'images/tools/4.jpg' %}">
        <div class="img-fill">
            <img src="{% static 'images/tools/4.jpg' %}" alt="">
        </div>
    </div>
    <!-- // Item -->



    <!-- Item -->
    <div class="item" data-thumbnail="{% static 'images/tools/5.jpg' %}">
        <div class="img-fill">
            <img src="{% static 'images/tools/5.jpg' %}" alt="">

        </div>
    </div>
    <!-- // Item -->

    <!-- Item -->
    <div class="item" data-thumbnail="{% static 'images/tools/6.jpg' %}">
        <div class="img-fill">
            <img src="{% static 'images/tools/6.jpg' %}" alt="">

        </div>
    </div>
    <!-- // Item -->

    <!-- Item -->
    <div class="item" data-thumbnail="{% static 'images/tools/7.jpg' %}">
        <div class="img-fill">
            <img src="{% static 'images/tools/7.jpg' %}" alt="">

        </div>
    </div>
    <!-- // Item -->

    <!-- Item -->
    <div class="item" data-thumbnail="{% static 'images/tools/8.jpg' %}">
        <div class="img-fill">
            <img src="{% static 'images/tools/8.jpg' %}" alt="">

        </div>
    </div>
    <!-- // Item -->


</div>
<!-- End Slider -->


{% endblock content %}