{% extends 'base.html' %}
{% load static %}
{% load product_tags %}

{% block title %}
    <title>Categories</title>
{% endblock title %}

{% block nav-product %}
    active
{% endblock nav-product %}

{% block content %}

<div class="categories">
    <div class="px-5">
        <div class="row no-gutters">

            <!-- Start search-form -->
            {% include 'product/search_form.html' %}
            <!-- End search-form -->

            {% if query %}
                {% if not companies and not categories and not subcategories and not products %}
                    <h2 class="no-results-msg">لم يتم العثور على أى نتائج...</h2>
                {% endif%}
            {% else %}
                {% if not subcategories %}
                    <div class="products col-12">
                        <div class="row">
                            <div class="col-12 page-title">
                                <h2 class=""> {{ category.name|title }}</h2>
                            </div>
                            <h2 class="no-products-msg">لا توجد منتجات فى هذه الشركة...</h2>
                        </div>  
                    </div>          
                {% endif%}
            {% endif %}


            <!-- Start companies -->
            {% if companies %}
                {% include 'product/search_company.html' %}
            {% endif %}
            <!-- End companies -->
            
            <!-- Start categories-->
            {% if categories %}
                {% include 'product/search_category.html' %}
            {% endif %}
            <!-- End categories-->

            <!-- Start subcategories -->
            {% if subcategories %}
            <div class="col-12 page-title wow flipInX">
                {% if not query %}
                <h2 class="">{{ category.name|title }}</h2>
                {% else %}
                <h2 class="">الأقسام الفرعية</h2>
                {% endif %}
            </div>
            <div class="categories-data row no-gutters">
                {% for subcategory in subcategories %}
                <a href="{{ subcategory.get_absloute_url }}"
                    class="col-12 col-md-4 col-lg-3 category-block px-2 wow {% cycle 'slideInLeft' 'slideInUp' 'slideInRight' 'slideInDown' 'slideInRight'%}">
                    <!-- <i class="fas fa-{{ category.icon_type }}"></i> -->
                    {% if query %}
                    <h3> شركة {{ subcategory.company.name|upper }}</h3>
                    <h3> قسم {{ subcategory.category.name|title }}</h3>
                    {% endif %}
                    <h3> {{ subcategory.name|title }}</h3>
                    <p class="prodcts-count">&#40;{{ subcategory.products.count }}&#41;</p>
                </a>
                {% endfor %}
            </div>
            {% endif %}
            <!-- End subcategories -->

            <!--Start Products-->
            {% if products %}
                {% include 'product/search_product.html' %}
            {% endif %}
            <!--End Products-->

        </div>
    </div>
</div>


<!--Start Pagination-->
{% if not query and subcategories.has_other_pages%}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if subcategories.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ subcategories.previous_page_number }}">السابق</a>
            </li>
        {% endif %}

        {% for i in subcategories.paginator.page_range %}
            {% if subcategories.number == i %}
                <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% elif i > subcategories.number|add:'-3' and i < subcategories.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if subcategories.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ subcategories.next_page_number }}">التالى</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% elif query and companies.has_other_pages or categories.has_other_pages or subcategories.has_other_pages or products.has_other_pages %}
    {% include 'product/search_pagination.html' %}
{% endif %}
<!--End Pagination-->


{% endblock content %}