{% extends 'base.html' %}

{% block title %}

<title>About</title>

{% endblock title %}

{% block nav-about %}
active
{% endblock nav-about %}


{% block content %}

<!-- Start about us -->
<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-12 page-title ">
                <h2 class="wow flipInX">مرحبا بكم فى شركة الكروان</h2>
            </div>
            <div class="col-12 about-main">
                <p class="about-main-data wow slideInUp">
                    تأسست مجموعة شركات الكروان عام 2015 . وقد نجحت المجموعة فى اختراق سوق التجارة فى جمهورية مصر
                    العربية .بهدف توفير حلول شاملة ومتكاملة فى جميع المجالات التى تخص المصانع الانتاجية. نستهدف بشكل
                    دائم تعزيز تواجد المجموعة فى سوق التجارة المصرى على المستوى المحلى والعالمى. ونستهدف فى القريب
                    العاجل إنشاء مصانع مصرية الانتاج. كما نعمل دائما على تلبية احتياجات عملاؤنا بتطوير دائم فى عاملى
                    الوقت والجودة.
                </p>
            </div>

            <div class="col-12 page-title">
                <h2 class="wow flipInX">تتكون المجموعة من ثلاثة شركات: </h2>
            </div>
            <div class="about-data col-12">
                <p class="about-items-data wow slideInUp" data-wow-delay=".1s">- شركة فيوتشر للتجارة والتوريدات والتدريب
                </p>
                <p class="about-items-data wow slideInUp" data-wow-delay=".1s">- شركة Msg للاستيراد والتصدير </p>
                <p class="about-items-data wow slideInUp" data-wow-delay=".1s">- شركة الكروان للتوريدات العمومية </p>
            </div>

            <div class="col-12 page-title">
                <h2 class="wow flipInX" data-wow-delay=".3s">قيم الكروان</h2>
            </div>
            <div
                class="about-data d-flex align-items-center justify-content-between flex-column flex-lg-row flex-wrap col-12">
                <span class="about-items-data wow slideInUp" data-wow-delay=".1s">- الاستيراد والتصدير</span>
                <span class="about-items-data wow slideInUp" data-wow-delay=".2s">- الصناعة (قريبا)</span>
                <span class="about-items-data wow slideInUp" data-wow-delay=".3s">- الجودة</span>
                <span class="about-items-data wow slideInUp" data-wow-delay=".5s">- الحماية البيئية</span>
                <span class="about-items-data wow slideInUp" data-wow-delay=".6s">- المجتمع</span>
                <span class="about-items-data wow slideInUp" data-wow-delay=".7s">- الأشخاص</span>
            </div>

            <div class="col-12 page-title">
                <h2 class="wow flipInX">المقر الرئيسى لشركة الكروان</h2>
            </div>
            <div class="col-12 about-main place-data">
                <p class="about-main-data wow slideInUp">
                    15 شارع سليمان الحلبى - متفرع من شارع أحمد عرابى - الأزبكية - رمسيس - القاهرة - مصر
                <p class="tel wow slideInUp">تليفون : 0225758246</p>
                <P class="tel wow slideInUp">فاكس : 0225758246</P>
                </p>
            </div>

            <!-- Start Map -->

            <div class="col-12 px-3 px-md-0 map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3453.375176973418!2d31.245013384916952!3d30.054778581878484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z2YjYs9i3INin2YTYqNmE2K8g4oCTIDE1INi02KfYsdi5INiz2YTZitmF2KfZhiDYp9mE2K3ZhNio2Yog4oCTINiz2YbYqtixINis2YrZhNmKINmF2YjZhCDYp9mE2K_ZiNixINin2YTYq9in2YTYqw!5e0!3m2!1sar!2seg!4v1597190955286!5m2!1sar!2seg"
                    width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </div>
    </div>
</div>


<!-- End about us -->

{% endblock content %}